{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}NEA{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
</head>
<body class="bg-gray-100 text-black font-sans">
	{% load static %}

    <!-- Optional global toast/alerts -->
    <div class="toast toast-top toast-end">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}
    </div>
	{% if not hide_navbar %}
	   <header class="bg-base-200 shadow p-4">
	        <h1 class="text-2xl font-bold text-center">NEA Dashboard</h1>
	    </header>
	{% endif %}



    <!-- Main content -->
    <main class="p-6">
        {% block content %}{% endblock %}
    </main>

    <!-- Optional footer -->
	{% load tz %}
	{% now "Y" as current_year %}

	<footer class="mt-10 text-center text-sm text-gray-500">
	    &copy; {{ current_year }} NEA
	</footer>

</body>
</html>
